.maincontainerabout {
  width: 100%;
  height: 100vh;
  background-image: url("./../../assets/images/b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
